.Filters,
.Filters__button {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Filters__button-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 8px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #5e7793;
  cursor: pointer;
}

.Filters__button-text:hover {
  color: var(--secondary-color);
}

.Filters__button-text_selected {
  color: var(--secondary-color);
}
