.Filters,
.Filters__button {
  position: relative;
  width: max-content;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.Filters__button-text {
  width: max-content;
  margin-right: 8px;
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 148%;
color: #5e7793;
cursor: pointer;
}

.Filters__button-text:hover {
  color: var(--secondary-color)
}