.Timelaps {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Timelaps__icon {
  margin-right: 8px;
  margin-left: 22px;
}

.Timelaps__text {
  margin-right: 22px;
  color: #005ff8;
}

.Timelaps__select {
  position: absolute;
  top: calc(100% + 11px);
  z-index: -1;
  width: 204px;
  height: 0;
  border: 1px solid #eaf0fa;
  border-radius: 4px;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.Timelaps__select_opened {
  z-index: 1;
  height: 239px;
}

.Timelaps__select-item {
  width: 100%;
  height: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #899cb1;
}

.Timelaps__select_opened > .Timelaps__select-item {
  height: 40px;
  padding: 6px 20px;
}

.Timelaps__select-item:hover {
  color: #122945;
  background-color: #0024cb21;
}

.Timelaps__select-item:last-of-type {
  position: relative;
  height: 78px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--secondary-color);
}

.Timelaps__select-item_current {
  color: var(--secondary-color);
}

.Timelaps__select-item > p {
  font-size: 14px;
  line-height: 2;
}

.Timelaps__select-item_icon {
  position: absolute;
  bottom: 26px;
  right: 21px;
}
