.Calls {
  width: 100%;
  padding: 20px 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.Calls_filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Calls_filters {
  margin-top: 24px;
  justify-content: space-between;
}

.Calls_filters-search {
  position: relative;
  margin: 10px 0;
  display: flex;
}

.Calls_filters-search_input {
  width: 482px;
  height: 40px;
  padding: 10px 46px;
  margin: -10px 0;
  box-sizing: border-box;
  background: var(--bg-color);
  border: 1px solid #eaf0fa;
  border-radius: 48px;
}

.Calls_filters-search_input:focus {
  outline: none !important;
  border: 1px solid var(--secondary-color);
}

.Calls_filters-search_icon {
  position: absolute;
  left: 0;
  top: 0;
}

.Calls_filters-search_icon-opened {
  top: 2px;
  left: 18px;
}

.Calls_filters-search_text {
  margin-left: 28px;
  font-size: 14px;
  line-height: 140%;
  color: #5e7793;
}

.Calls_filters-search_close {
  position: absolute;
  top: 3px;
  right: 17px;
  z-index: 1;
}

.Calls_content {
  width: 100%;
  padding-left: 0;
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

li {
  width: 100%;
  list-style: none;
}

.Calls_content-item {
  width: 100%;
  padding: 25px 0 20px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  color: #899cb1;
}

.Calls_content-item > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.Calls_content-item__check {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 12px;
}

.Calls_content-item__type {
  width: 23px;
  margin-right: 30px;
}

.Calls_content-item__time {
  width: 41px;
  margin-right: 48px;
}

.Calls_content-item__worker {
  width: 68px;
  margin-right: 60px;
  display: flex;
  justify-content: flex-start;
}

.Calls_content-item__call {
  width: 45px;
  margin-right: 281px;
}

.Calls_content-item__src {
  width: 60px;
  margin-right: 154px;
}

.Calls_content-item__rating {
  width: 47px;
  margin-right: 414px;
}

.Calls_content-item__record {
  width: 89px;
  margin-right: 40px;
}
