.Player {
  position: relative;
  width: 352px;
  height: 48px;
  margin-right: 57px;
  margin-left: 19px;
  padding-top: 1px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  background-color: #eaf0fa;
}

.Player__duration {
  min-width: 36px;
  margin-right: 12px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: #122945;
}

.Player__button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.Player__process {
  width: 164px;
  height: 4px;
  margin-right: 18px;
  border-radius: 50px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.Player__process-output {
  position: absolute;
  top: 3px;
  width: max-content;
  color: #122945;
}

.Player__download {
  margin-top: 5px;
  margin-right: 22px;
}
