.List {
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  width: 202px;
  height: max-content;
  border: 1px solid #eaf0fa;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}

.List-item {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.List-item:hover {
  background: #0024cb21;
}

.List-item_image {
  width: 32px;
  height: 32px;
  margin: 8px;
  margin-left: 20px;
  border-radius: 20px;
}

.List-item_text {
  margin: 6px 0;
  margin-left: 20px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #899cb1;
}

.List-item_text_pink,
.List-item_text_grey,
.List-item_text_green {
  padding: 6px 8px;
  margin: 6px 20px;
  border-radius: 4px;
  line-height: 1;
}

.List-item_text_pink {
  border: 1px solid #ea1a4f;
  color: #ea1a4f;
  background: #fee9ef;
}

.List-item_text_grey {
  border: 1px solid #adbfdf;
  color: #122945;
  background: #d8e4fb;
}

.List-item_text_green {
  border: 1px solid #28a879;
  color: #00a775;
  background: #dbf8ef;
}

.List-item_icon {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #ffd500;
}

.List-item_icon_magenta {
  margin: 16px 20px;
  background-color: #ea1a4f;
}

.List-item_icon_grey {
  margin: 16px 2px;
  background-color: #adbfdf;
}

.List-item_icon_green {
  margin: 16px 2px;
  background-color: #28a879;
}

.List-item_icon_grey:first-of-type,
.List-item_icon_green:first-of-type {
  margin-left: 20px;
}

.List-item:first-of-type > .List-item_text {
  color: var(--secondary-color);
}

.List-item:hover > .List-item_text {
  color: #122945;
}
