.List {
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  z-index: 2;
  width: 202px;
  height: max-content;
  border: 1px solid #eaf0fa;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}

.List__item {
  width: calc(100% - 20px);
  height: max-content;
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.List__item:hover {
  background: #0024cb21;
}

.List__item-image {
  width: 32px;
  height: 32px;
  margin: 8px;
  margin-left: 20px;
  border-radius: 20px;
}

.List__item-text {
  margin: 6px 0;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #899cb1;
}

.List__item-icon {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #ffd500;
}

.List__item:hover > .List__item-text {
  color: #122945;
}
