.Rate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000c5;
}

.Rate__content {
  width: 1440px;
  height: max-content;
  padding: 16px;
  padding-left: 40px;
  margin-left: 360px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-color);
}

.Rate__content-header {
  width: 100%;
  height: 58px;
  margin-bottom: 2px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Rate__content-header_title {
  margin-top: 16px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
}

.Rate__content-header_buttons {
  width: 64px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Rate__content-header_button {
  width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #F1F4F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Rate__content-item {
  width: 1337px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Rate__content-item:first-of-type {
  height: 58px;
  margin-bottom: 2px;
}

.Rate__content-item_text {
  width: max-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.36px;
  text-align: left;
  color: #122945;
}

.Rate__content-item_text_manager {
  max-width: 200px;
  min-width: 200px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Rate__content-item_avatar {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}

.Rate__content-item_avatar:hover {
  border: 2px solid #28a879;
}

.Rate__content-item_text_total {
  padding-left: 52px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.Rate__content-item_text_manager-data {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Rate__content-item_text_calls {
  min-width: 203px;
  max-width: 203px;
  margin-right: 8px;
  display: flex;
  flex-wrap: wrap;
}

.Rate__content-item_text_statistic {
  min-width: 47px;
  max-width: 47px;
}

.Rate__content-item_text_statistic > p {
  margin-bottom: 8px;
  text-align: right;
  line-height: 1;
}

.Rate__content-item_text_statistic > p:last-of-type {
  margin-bottom: 0;
}

.Rate__content-item_text_call {
  display: flex;
  align-items: center;
}

.Rate__content-item_text_clarification {
  margin-left: 4px;
  align-self: flex-start;
}

.Rate__content-item_text_red,
.Rate__content-item_text_green {
  margin-left: 2px;
  color: #00a775;
  line-height: 1;
}

.Rate__content-item_text_red {
  color: #ea1a4f;
}

.Rate__content-item_text_lines {
  min-width: 148px;
  max-width: 148px;
  height: 8px;
}

.Rate__content-item_text_lines:first-child {
  margin-top: 7px;
  margin-bottom: 8px;
  border-radius: 0px 12px 12px 0px;
  background-color: #d8e4fb;
}

.Rate__content-item_text_line {
  min-width: 124px;
  max-width: 124px;
  border-radius: 0px 12px 12px 0px;
  background-color: #d8e4fb;
}

.Rate__content-item_text_converse {
  min-width: 68px;
  max-width: 68px;
  margin-right: 59px;
  text-align: right;
}

.Rate__content-item_text_cell {
  min-width: 100px;
  max-width: 100px;
  margin-right: 10px;
}

.Rate__content-item_rate {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.Rate__content-item_contextMenu {
  position: absolute;
  top: 23px;
  left: -4px;
  z-index: 2;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Rate__content-item_contextMenu > div {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Rate__content-item_contextMenu > div:last-of-type {
  margin-bottom: 0;
}
