.Header {
  width: 100%;
  padding: 12px 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-block {
  display: flex;
  align-items: center;
}

.Header-block:last-of-type {
  width: 443px;
}

.Header-block > time {
  width: 90px;
  margin-right: 86px;
  white-space: nowrap;
}

.Header-analitics {
width: max-content;
height: 34px;
margin-right: 56px;
display: flex;
flex-direction: column;
align-items: flex-start
}

.Header-analitics:last-of-type {
  margin-right: 0;
}

.Header-analitics_text {
  display: flex;
}

.Header-analitics_text > p {
  margin: 0;
  margin-bottom: 7px;
}

.Header-analitics_progress {
  width: 156px;
  height: 6px;
  border-radius: 12px;
  background-color: #dee6f5;
}

.Header-analitics_progress > div {
  width: 68px;
  height: 100%;
}

.Header-block-user {
  width: 340px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header-block-user_name {
  text-align: right;
}

.Header-block-arrow {
  margin-left: 10px;
  transform: rotate(180deg);
}

.Header-block-user_avatar {
  width: 40px;
  height: 40px;
  margin-left: 47px;
  border-radius: 50px;
}
