.Search {
  position: relative;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Search__container {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.Search__input {
  width: 482px;
  height: 40px;
  padding: 9px 46px 11px;
  margin: -10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--bg-color);
  border: 1px solid #eaf0fa;
  border-radius: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Search__label {
  position: absolute;
  top: 0;
  right: 46px;
  z-index: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  color: var(--primary-color);
}

.Search__label:hover {
  color: var(--secondary-color);
}

.Search__input:focus {
  outline: none !important;
  border: 1px solid var(--secondary-color);
}

.Search__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.Search__icon_opened {
  position: absolute !important;
  top: 2px;
  left: 18px;
  z-index: 3;
}

.Search__text {
  margin-left: 28px;
  font-size: 14px;
  line-height: 140%;
  color: #5e7793;
}

.Search__close {
  position: absolute;
  top: 3px;
  right: 17px;
  z-index: 1;
}
