.RateIcon {
  width: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.RateIcon__circle {
  width: 8px;
  height: 8px;
  margin: 16px 2px;
  border-radius: 50%;
}

.RateIcon__circle:first-of-type {
  margin-left: 0;
}
