.RateIcon {
  width: 36px;
  height: max-content;
  display: flex;
  align-items: center;
}

.RateIcon__circle {
  width: 8px;
  height: 8px;
  margin: 16px 2px;
  border-radius: 50%;
}

.RateIcon__circle:first-of-type {
  margin-left: 0;
}
