html {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --primary-color: #adbfdf;
  --secondary-color: #002cfb;
  --third-color: #0024cb;
  --fourth-color: #274bcb;
  --bg-color: #fff;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
}
